@font-face {
    font-family: 'Myriadpro';
    src: url(../assets/fonts/Myriadpro-REGULAR.woff)
  }
body{
    font-family: 'Lato', 'Myriadpro', sans-serif;
    header{
        width: 100%;
        height: 60px;
        background-color: #f6b900;
        .logo{
            margin-top: calc(27px - 13.5px);
        }
        .menu{
            line-height: 60px;
            margin: 0;
            font-size: 18px;
            text-align: right;
        }
    }
    main{
        .main-section{
            .section-banner{
                padding-top: 127px;
                min-height: 620px;
                background-image: url(../assets/images/img_topo.jpg);
                background-position: bottom;
                .title-main{
                    max-width: 500px;
                    p{
                        font-size: 15px;
                        color: white;
                    }
                    .h2-title{
                        margin: 0;
                        padding: 12px 18px;
                        background-color: yellow;
                        font-weight: bold;
                        font-size: 72px;
                        display: inline;
                        line-height: 120px;
                    }
                    .sub-title{
                        margin-top: 20px;
                        font-size: 20px;
                    }
                }
            }
            .section-about{
                position: absolute;
                background-color: white;
                top: -80px;
                padding: 40px 80px;
                z-index: 1;
                text-align: center;
                line-height: 30px;
                .h4-black{
                    font-family: 'Myriadpro';
                    font-size: 28px;
                }
                p{
                    font-family: 'Myriadpro';
                    font-size: 20px;
                }
            }
            .lorem-section{
                min-height: 620px;
                padding-top: 272px;
                background-image: url(../assets/images/bg.png);
                top: -1px;
                .h2-yellow{
                    color: #d4a108;
                }
                p{
                    font-family: 'Myriadpro';
                    color: white;
                    font-size: 20px;
                }
                ul{
                    padding-left: 20px;
                    li{
                        font-size: 20px;
                        color: white;
                    }
                }
            }
        }
        .boxes-section{
            padding: 60px 40px;
            background-color: #e5e5e5;
            .cone-box{
                width: 290px;
                min-height: 385px;
                border-radius: 10px;
                padding: 10px 40px;
                text-align: center;
                box-shadow: black 0px 0px 10px -2px;
                background-color: white;
                .box-title{
                    font-size: 30px;
                    color: #d4a108;
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                    font-family: 'Myriadpro';
                    color: #3a3e54;
                    margin-top: 40px;
                }
            }
        }
    }
    footer{
        background-color: black;
        text-align: center;
        height: 60px;
        h6{
            font-family: 'Myriadpro';
            font-size: 20px;
            text-transform: uppercase;
            color: white;
            line-height: 50px;
        }
    }
}